[submodule "demo_pick_and_place/src/nr_manipulator_software_files"]
	path = demo_pick_and_place/src/nr_manipulator_software_files
	url = https://github.com/coenadasNR/nr_manipulator_software_files.git
